body {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 30px;
    line-height: 1.5;
    color: #D2B48C;
    margin: 0;
    padding: 0;
    background-color: #E5D3B3;
}

nav {
    background-color: #d2b48c;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo {
    display: flex;
    align-items: center;
    position: relative; 
    left: 50.66px;
    top: 3px;
    
}
.logo img{
    width: 200px;
    height: auto;
}

nav img {
    width: 50px;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.nav-item {
    height: 35px;
    width: 165px;
    background-color:#664229;
    color: #E5D3B3;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #E5D3B3;
}

.nav-item:hover {
    background-color: #987554;
    color: #E5D3B3;
}

.front-page {
    padding: 1rem;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}


.background-rectangle {
    width: 300px;
    height: 400px;
    background-color: #987554;
    position: absolute;
    top: 115px;
    left: 275px;
    z-index: -1;
}
.rectangle{
    width: 380px;
    height: 380px;
    background-color: #664229;
    position: absolute;
    top: 80px;
    left: 0;

}

.featured-image {
    max-width: 25%;
    height: auto;
    margin-top: 20px;
    position: absolute;
    top: 120px;
    left: 140px;
    z-index: 1;
}
.front-page h2 { 
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-weight: normal;
    font-size: 60px;
    color: #000000;
    position: absolute;
    left: 650px;
    top: 150px;
    border-bottom: 2px solid #664229;
    width: 700px;
    padding-bottom: 5px;
    margin: auto;
} 

.front-page p {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 17px;
    color: #664229;
    left: 635px;
    position: absolute;
    top: 300px;
    margin-top: 20px;
    right: 80px;
   
}

.front-page hr {
    width: 20%;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 100px;
    border: none;
    font-size: 20px;

}

.name {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 25px;
    color: #664229;
    position: absolute;
    left: 980px;
    right: 80px;
    top: 285px;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 10px; 
}

.contact-more {
    width: 220px;
    height: 50px;
    background-color: #664229;
    color: #E5D3B3;
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 450px auto; 
    margin-left: 880px;
}

.contact-more:hover {
    background-color: #987554;
}

.contact-more-container {
    max-width: 100%;
    height: 100px;
    margin: 100px auto !important; 
}

.bottom-rectangle {
    width: 1440px;
    height: 150px;
    background-color: #d2b48c;
    position: absolute;
    top: 620px;
    bottom: 0px;
    left: 0;
    z-index: -1;
}

.additional-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 300px;
    bottom: 10px;
}

.additional-rectangle {
    width: 1000px;
    height: 100px;
    background-color: #987554;
    margin: auto;
    margin-top: 100px;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
}


.additional-rectangle-below {
    width: 1000px;
    height: 40px;
    background-color: #987554;
    margin: auto;
    bottom: 10px;
    margin-top: 10px;
}

.om-mig {
    padding: 100px; 
    text-align: center;
    position: relative;
}

.om-mig-tekst  {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 17px;
    color: #664229;
    max-width: 1000px;
    width: 1200px;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 10px;
}

.om-mig-tekst h3 {
    font-size: 40px;
    color: #664229;

}

.section-divider {
    border: 1px solid#664229;
    width: 70%;
    margin: -35px auto 45px auto;
}

.circle-container {
    display: flex;
    justify-content: space-around;
    margin-top: 210px;
}

.circle {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.horizontal-rectangle {
    width: 100%;
    height: 140px;
    background-color: #987554;
    margin-top: 25px;
    left: 0;
    position: absolute;
    z-index: -1;  
}

.project-text {
    padding: 100px;
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 30px;
    color: #664229;
    text-align: center;
    margin-top: -10px;
    position: relative;
}

.project-divider {
    border: 1px solid #664229;
    width: 70%;
    margin: 35px auto 60px auto;
}

.projects {
    text-align: center;
    position: relative;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.project {
    width: 332px;
    height: 335px;
    position: relative;
}

.project img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    left: 0%;
    margin-top: 20%;
    top: -80px;
}

.project-background-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    width: 86%;
    top: 250px;
}

.project-background {
    width: 297px;
    height: 310px;
    background-color: #987554;
    overflow: hidden;
    margin: 25px;
    position: relative;
    z-index: 0;
}

.projekt-description1 {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 17px;
    color: #664229;
    max-width: 1200px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 1050px;
    transform: translate(-50%, -50%);
}

.projekt-description2 {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 17px;
    color: #664229;
    max-width: 1200px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 1150px;
    transform: translate(-50%, -50%);
}

.projekt-description3 {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 17px;
    color: #664229;
    max-width: 1200px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 1250px;
    transform: translate(-50%, -50%);
}

.projekt-description4 {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 17px;
    color: #664229;
    max-width: 1200px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 1350px;
    transform: translate(-50%, -50%);
}

.projekt-description5 {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 17px;
    color: #664229;
    max-width: 1200px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 1450px;
    transform: translate(-50%, -50%);
}

.projekt-description6 {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 17px;
    color: #664229;
    max-width: 1200px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 1550px;
    transform: translate(-50%, -50%);
}

.rectangle-under-images {
    width: 100%;
    height: 70px; 
    background-color: #987554;
    position: absolute;
    top: 1700px;
    left: 0;
}

.centered-rectangle {
    width: 172px;
    height: 45px;
    background-color: #987554;
    position: absolute;
    top: 1800px;
    left: 50%;
    transform: translateX(-50%);
}

.right-rectangle {
    width: calc(100% - 840px);
    height: 45px;
    background-color: #987554;
    position: absolute;
    top: 1800px;
    right: 0;
}

.left-rectangle{
    width: 1200px;
    height: 45px;
    background-color: #987554;
    position: absolute;
    top: 1800px;
    left: 0;
    transform: translate(-50%);
}

.bottom-full-width-rectangle {
    width: 100%;
    height: 70px; 
    background-color: #987554;
    position: absolute;
    top: 1880px; 
    left: 0;
    z-index: 1; 
}


.contact-container{
    text-align: center;
    margin-top: 1000px;
}

.contact-text {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 40px;
    color: #664229;
}

.contact-divider {
    border: 1px solid #664229;
    width: 70%;
    margin: 10px auto 20px auto;
}

.contact-message {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 17px;
    color: #664229;
    text-align: center;
    margin-top: 20px; 
}

.contact-info {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 17px;
    color: #664229;
    text-align: center;
    margin-top: 10px;
}



.circle-container1 {
    display: flex;
    margin-top: 10px; 
    align-items: center;
    justify-content: center;
}

.circle1 {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: #987554;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    position: relative;
    flex-direction: column;
    text-align: center;
}

.material-icons-outlined {
    font-size: 150px;
    color: #664229; 
    position: absolute;

}

.circle-text{
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 25px;
    color: #664229;
    margin-top: 380px;
}

.circle-title{
    font-weight: bold;
}

.circle-subtitle{
    font-weight: normal;
    color: #987554;
    margin-top: 10px;
}

.contact-rectangle-container {
    position: absolute;
    top: 2600px;
    left: -50px;
}

.contact-rectangle {
    width: 200px;
    height: 450px;
    background-color: #664229;
    border-radius: 50px;
    position: relative;
}

.contact-form {
    width: 40%;
    padding: 20px;
    margin-left: 50px;
}

.image-rectangle {
    width: 400px;
    height: 450px;
    background-color: #664229; 
    margin-left: 100px; 
    overflow: hidden;
    border-radius: 50px;
    top: 2600px;
    position: absolute;
    left: 590px;
}

.image-rectangle img {
    width: 400px;
    height: 450px;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    color: #664229;
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    top: 200px;
}

label {
    margin-top: 15px;
    color: #664229;
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 17px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 15px;
}

input[type="submit"] {
    background-color: #987554;
    color: #E5D3B3;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #664229;
}

.additional-rectangle-contact{
    width: 320px;
    height: 450px;
    background-color: #664229;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 20px;
    right: 0px;
    top: 2600px;
    margin-right: 2px;
    position: absolute;
}

footer {
    background-color: #D2B48C;
    text-align: center;
    width: 1440px;
    position: absolute;
    left: 0;
}

.footer-content {
    max-width: 4000px;
    margin: auto;
}

.footer-content p {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 30px;
    color: #664229;
    margin-bottom: 1px;
}

.hr10 {
    border: none;
    border-top: 1px solid #664229;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon img {
    border-radius: 30%;
}

.social-icon {
    margin: 5px 5px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #987554;
    font-weight: 50;
    margin-top: 10px;
    font-size: 15px;
}

/*---------------css for small screens-------*/
@media only screen and (max-with: 600px){
    body {
        font-size: 18px;
    }

    nav ul {
        flex-wrap: wrap; 
    }
    
    .nav-item {
        flex: 0 0 100%;
        margin-bottom: 5px; 
    }

    .front-page p {
        font-size: 16px;
    }

    .project-container {
        flex-direction: column; 
    }

    .project {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .front-page h2 {
        font-size: 30px; 
    }
    
    .front-page p {
        font-size: 16px;
    }

    .project-container {
        flex-direction: column; 
    }

    .project {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .contact-form {
        width: 80%; 
        margin: 0 auto;
    }

    .social-icons {
        flex-direction: column;
    }

    .social-icon {
        margin: 5px 0; 
    }

    .footer-content p {
        font-size: 20px; 
    }

    .copyright {
        font-size: 12px; 
    }

    .circle-container1,
.contact-rectangle-container,
.contact-form,
.image-rectangle {
    margin: 0 auto;
    text-align: center;
}
} 

/*making images responsive*/
.responsive.img{
    width: 100%;
    height: auto;
}

